.build/
*.pdb
*.exe
*.rdbg
*.dSYM/
*.dmg
.DS_Store
TODO.md

projects/
temp/
build_release/
build_debug/

.vscode/

.focus-config
.focus-config.bak

focus
focus_debug
focus-trace.json
install.bat
install_debug.bat
global.focus-config

focus-crash-report.txt
